[submodule "kl_front_end_web"]
	path = kl_front_end_web
	url = https://github.com/NTHvt981/kl_front_end_web
[submodule "kl_front_end_mobile_v2"]
	path = kl_front_end_mobile_v2
	url = https://github.com/NTHvt981/kl_front_end_mobile_v2
